// MEDIA QUERY MANAGER
/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/

@media (max-width: 576px) {
  //LAYOUT QUERY
  body {
    max-width: 100vw;
  }

  .container {
    width: 100%;
    border-radius: 1px;
    display: block;
    grid-template:
      'head head' 10rem
      'list recipe' minmax(100rem, auto)
      / 1fr 2fr;
  }
  /*HEADER QUERIES*/
  .header {
    padding: 10px 0;
    flex-direction: column;
  }
  .header__logo {
    margin-left: 0.5rem;
    margin-bottom: 4px;
  }
  .search {
    align-items: center;
    padding-left: 0rem;
    margin-bottom: 10px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  /* Styles for tablets and small laptops */
  //LAYOUT QUERY
  body {
    max-width: 100vw;
  }

  .container {
    width: 100%;
    border-radius: 1px;
    display: block;
    grid-template:
      'head head' 10rem
      'list recipe' minmax(100rem, auto)
      / 1fr 2fr;
  }
  /*HEADER QUERIES*/
  .header {
    padding: 10px 0;
    flex-direction: column;
  }
  .header__logo {
    margin-left: 0.5rem;
    margin-bottom: 4px;
  }
  .search {
    align-items: center;
    padding-left: 0rem;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium laptops */
  //LAYOUT QUERY
  body {
    max-width: 100vw;
  }

  .container {
    width: 100%;
    border-radius: 1px;
    display: block;
    grid-template:
      'head head' 10rem
      'list recipe' minmax(100rem, auto)
      / 1fr 2fr;
  }
  /*HEADER QUERIES*/
  .header {
    padding: 10px 0;
    flex-direction: column;
  }
  .header__logo {
    margin-left: 0.5rem;
    margin-bottom: 4px;
  }
  .search {
    align-items: center;
    padding-left: 0rem;
    margin-bottom: 10px;
  }
}
